<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="./Tests/bootstrap.php"
         colors="true">
    <testsuites>
        <testsuite name="MisdPhoneNumberBundle Test Suite">
            <directory suffix="Test.php">./Tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="KERNEL_DIR" value="./Tests/Functional/app"/>
    </php>
    <coverage>
        <include>
            <directory>./</directory>
        </include>
        <exclude>
            <directory>./Resources</directory>
            <directory>./Tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </coverage>
</phpunit>
